:root {
  --ac-width: 100%;
  --remote-width: 30%;
  --last_image-width: 100%;
  --background-bg: url('https://ms.purplepatch.online/2024/full-takeover/walton/ac/v2/assets/mobileBg2.jpg');
  --cross-btn-top: 2dvh;
  --cross-btn-right: 2dvh;

}
body{
  margin: 0;
  padding: 0;
}
@media (min-width: 601px) {
  :root {
    --ac-width: 35%;
    --remote-width: 8%;
    --last_image-width: 30%;
    --last_image-height: ;
    --background-bg: url('https://ms.purplepatch.online/2024/full-takeover/walton/ac/v2/assets/desktopBg2.jpg');
    --cross-btn-top: 3dvh;
    --cross-btn-right: 30dvh;
    --bottle-width: 10dvw;
  }
}

.ppm_container {
  position: fixed;
  top: 0px;
  width: 100dvw;
  height: 100dvh;
  z-index: 999999;
  background-size: 100% 100%;
}

.ppm_bottle {
  position: absolute;
  top: 5dvh;
  right: 0px;
  width: var(--bottle-width);
  display: none;
}
.ppm_ac {
  position: absolute;
  top: 5dvh;
  left: calc((100% - var(--ac-width))/2);
  width: var(--ac-width);
  display: none;
}

.ppm_ac_close {
  opacity: 1;
}

.ppm_ac_open {
  opacity: 0;
}

.ppm_remote {
  position: absolute;
  bottom: -100px;
  /* bottom: -15dvh; */
  width: var(--remote-width);
  left: calc((100% - var(--remote-width))/2);
  display: none;
  opacity: 1;
}
.ppm_tap_hand {
  position: absolute;
  bottom: 10dvh;
  width: 35px;
  left: calc((100dvw)/2);
  display: none;
  opacity: 1;
}

.ppm_ac_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: var(--background-bg);
  background-size: 100% 100%;
  display: none;
  opacity: 0;
}

.ppm_last_image {
  width: var(--last_image-width);
  display: block;
  opacity: 0;
}

.last_imageBox {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  /* display: flex; */
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2dvh;
}

.ppm_closeBtn_takeover {
  z-index: 9999;
  position: absolute;
  right: var(--cross-btn-right);
  top: var(--cross-btn-top);
}

.ppm_hawa {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media (min-width: 1367px) {
  .ppm_tap_hand {
    bottom: 15dvh;
    width: 35px;
    left: calc((102%)/2);
  }
}

.ppm_logo_blue{
  position: absolute;
  left: 2vw;
  top: 2vh;
  z-index: 999999;
}